---
layout: default
title: "Misc"
description: "pitched sand by sand"
header-img: "img/underconst.png"
header-mask: 0.3
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <!-- misc list -->
      <div class="misc-list js-result">
        {%- assign _sorted_misc = site.misc | sort: 'date' | reverse -%}
 
        {%- for _miscky in _sorted_misc -%}
          <div class="misc-preview item">
            <a href="{{ _miscky.url | prepend: site.baseurl }}">
                <div class="col-lg-1  col-md-1 ">
                  {%- if _miscky.side-img -%}
                    <img src="{{ site.baseurl }}/img/miscfaces/{{ _miscky.side-img }}">
                    {% else %}
                    <img src="{{ site.baseurl }}/img/miscfaces/colins-prototype.png">
                  {%- endif -%}
                </div>
                <div class="col-lg-11 col-md-7">
                  <div class="misc-content-preview">
                    {{ _miscky.content | strip_html | truncate:300 }}
                  </div>
                </div>
            </a>
          </div>
          <p class="post-meta" font_size="1">
            Posted by {% if _miscky.author %}{{ _miscky.author }}{% else %}{{ site.title }}{% endif %} on {{ _miscky.date | date: "%B %-d, %Y" }}
        </p>
            <hr>
          {%- if forloop.last -%}
				{%- endif -%}
        {%- endfor -%}
      </div>   
    </div>
  </div>
</div>